.wrapper, form, .contactInfo {
  margin-left: auto;
  margin-right: auto; }

html, body {
  margin: 0 auto;
  padding: 0 auto; }

* {
  box-sizing: border-box; }

html, body {
  font: 16px/1.5 Helvetica Neue, Arial, sans-serif;
  width: 100%;
  height: 100%; }

header {
  background: #515151;
  margin: 0; }

header h1 {
  color: #EEE;
  text-transform: uppercase;
  margin: 0;
  padding: 22px 20px; }

#mainContent {
  background: #FFFFFF; }

.wrapper {
  width: 90%;
  height: 100%;
  padding: 0; }
  .wrapper h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0; }

form {
  margin-bottom: 3em;
  max-width: 500px;
  max-height: 900px;
  background: #F7F7F7;
  padding: 2em; }

.control-group {
  margin-bottom: 1em; }
  .control-group label, .control-group input {
    display: block;
    width: 100%; }
  .control-group span {
    color: red;
    font-size: 12px; }
  .control-group label {
    margin-bottom: .25em; }
  .control-group input {
    background: #E0E0E0;
    border: 2px solid #d7d7d7;
    padding: .5em;
    border-radius: .25em; }

#phone {
  background: #E0E0E0;
  border: 2px solid #d7d7d7; }

#country {
  width: 100%;
  height: 30px; }

/* This is our style for the invalid fields */
input:valid {
  border-color: #2ecc71;
  background-color: #dff0d8; }

input:focus:valid {
  outline: none; }

/* This is our style for the invalid fields
input:invalid{
  border-color: $error-accent-border;
  background-color: $error-accent;
}

input:focus:invalid {
  outline: none;
}
*/
button {
  display: block;
  border: none;
  padding: 1em;
  width: 100%;
  background: #4990E2;
  color: #EEE;
  font-size: 1em;
  border-radius: .25em; }

.contactInfo {
  background: #4990E2;
  max-width: 450px;
  padding: 1em;
  margin-bottom: 30px; }
  .contactInfo p {
    color: #EEE; }
    .contactInfo p span {
      margin-right: 10px; }

.error {
  color: red;
  line-height: 1.2;
  margin: 5px auto; }

footer {
  clear: both;
  width: 100%;
  background: #515151;
  color: #EEE;
  text-align: center;
  margin: 0; }
  footer p {
    margin: 0;
    padding: 10px 0; }

/* Larger Phones, Small Tablets */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  form {
    display: block;
    min-width: 50%;
    margin-right: 20px;
    float: left; }
  aside {
    display: block;
    width: 40%;
    float: right; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  form {
    min-width: 50%; }
  aside {
    min-width: 40%; } }
