* {
  box-sizing: border-box;
}

html, body {
  font: 16px/1.5 Helvetica Neue, Arial, sans-serif;
  width: 100%;
  height: 100%;
  @extend %reset-all-space;
}

header {
  background: $secondary-background;
  margin: $reset-space;
}

header h1 {
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 25px;
  margin: $reset-space;
  padding: 22px 20px;
}

#mainContent {
  background: $primary-background;
}

.wrapper {
  width: 90%;
  height: 100%;
  @extend %auto-center;
  padding: $reset-space;

  h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin: $reset-space;
    padding: 30px 0;
  }
}

form {
  @extend %auto-center;
  margin-bottom: 3em;
  max-width: 100%;
  max-height: 900px;
  background: $form-background;
  padding: 2em;
}

#formAfterSuccess {
  display: none;
}

#afterSuccessContents {
  @extend %auto-center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  max-width: 100%;
  height: 450px;
  background: $form-background;
  padding: 2em;

  img {
    display: block;
  }

  p {
    clear: both;
    display: block;
  }
}

.control-group {
  margin-bottom: 1em;

  label, input {
    display: block;
    width: 100%;
  }

  span {
    color: $error-accent;
    font-size: 12px;
  }

  label {
    margin-bottom: .25em;
  }

  input {
    background: $input-background;
    border: 2px solid $input-border;
    padding: .5em;
    border-radius: .25em;
  }
}

#phone {
  background: $input-background;
  border: 2px solid $input-border;
}

#country {
  width: 100%;
  height: 30px;
}

button {
  display: block;
  border: none;
  padding: 1em;
  width: 100%;
  background: $accent-background;
  color: $secondary-color;
  font-size: 1em;
  border-radius: .25em;
}

.contactInfo {
  @extend %auto-center;
  width: 100%;

  .asideContents {
    background: $accent-background;
    padding: 1em;
    margin-bottom: 30px;

    p {
      color: $secondary-color;

      span {
        margin-right: 10px;
      }
    }
  }
}

.contactInfo p > span {
  display: inline-block;
  vertical-align: middle;
}

.error {
  color: $error-accent;
  line-height: 1.2;
  margin: 5px auto;
}

footer {
  clear: both;
  width: 100%;
  background: $secondary-background;
  color: $secondary-color;
  text-align: center;
  margin: $reset-space;
  //margin-top: 30%;

  p{
    margin: $reset-space;
    padding: 10px 0;
  }
}

/* This is our style for the valid fields */
input:valid{
  border-color: $success-accent-border;
  background-color: $success-accent;
}

input:focus:valid {
  outline: none;
}

/* This is our style for the invalid fields
input:invalid{
  border-color: $error-accent-border;
  background-color: $error-accent;
}

input:focus:invalid {
  outline: none;
}
*/


/* Larger Phones, Small Tablets */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  form {
    display: block;
    float: left;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 15%;
  }

  #afterSuccessContents {
    float: left;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 15%;
  }

  .contactInfo {
    display: block;
    float: right;
    width: 40%;
    margin-top: -90px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  header h1 {
    font-size: 35px;
  }

  .wrapper h1 {
    font-size: 25px;
  }

  form {
    margin-bottom: 10%;
  }

  #afterSuccessContents {
    margin-bottom: 10%;
  }

  .contactInfo {
    margin-top: -100px;
  }
}
